<h3>Edit store:</h3>
<form action="/store/<%=@store.id%>/edit" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="patch">
    <label for="store_name">Enter store name:</label>
    <input type="text" name="store_name" id="store_name">
  </div>
  <button type="submit">Submit</button>
</form>

<form action="/store/<%=@store.id%>/brands/select" method="post">
  <h2>All available brands:</h2>
  <h3>Select to add brands to the store.</h3>
    <% if @all_brands.any? %>
    <ul>
      <% @all_brands.each do |brand| %>
      <li><input type="checkbox" name="store_brands[]" value="<%=brand.id%>"><%= brand.name%></li>
      <%end%>
      <%else%>
      <h3>You need to enter some brands</h3>
      <%end%>
    </ul>
    <button type="submit">Submit</button>
</form> <br>
