<form action="/store/new" method="post">
  <div class="form-group">
    <label for="store_name">Suggest a store to join this very nice mall:</label>
    <input type="text" name="store_name" id="store_name">
  </div>
  <button type="submit" name="button">Submit Suggestion</button>
</form>
