<h1><%=@store.name%></h1>
<a href="/store/<%=@store.id%>/edit">Edit Store</a>
<br>



<h2>Brands currently sold at this store</h2>
<ul>
  <% @store.brands.each do |brand|%>

    <li><%= brand.name %> -- $<%= brand.price %>.00 </li>

  <%end%>
</ul>
